*{
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body, h1, h2, h3, h4,
p, blockquote, ol, ul{
  margin: 0;
  padding: 0;
}
body{
  width:100%;
  margin:0 auto;
  position: relative;
  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
  color:#333;
  font-size:16px;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-kerning: normal;
}
a{
  text-decoration: none;
  color:inherit;
}
ul,ol{
  -webkit-padding-start:25px;
  -moz-padding-start:25px;
}
ol{
  list-style-type:none;
}
h1,h2,h3,h4{
  font-weight: 300;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  padding:5px 0;
  margin:15px 0;
  color:#000;
  line-height:1.1;
  text-align:center;
}
h1{ 
  font-size:180%; 
}
.overlay h2{
  color:#fff;
  font-size:1.6em;
}
.overlay h1{
  color:#fff;
}
.overlay p{
  text-align:center;
}
h2{ 
  font-size:150%;
}
h3{
  font-size:125%;
  color:inherit;
  text-align:center;
}
h4{ 
  font-size:125%;
}
em{
  color:#666;
}
main{
  padding:64px 0 0 0;
  min-height:84vh;
}
img{
  width:90%;
  max-width:480px;
  margin:15px auto;
  padding:0;
  vertical-align: middle;
}
time{
  font-size:0.9em;
}
.begin{
  padding:0;
}
.main,
.green{
  padding:25px;
  min-height:360px;
}
.green {
  color:#fff;
}
.green h1{
  color:inherit;
}
.main{
  background-color:#f9f9f9;
  min-height:50vh;
}
a.submit{
  background-color:#0FBE7C;
  color:#fff;
  padding:10px;
  text-align:center;
  display:block;
  margin:25px auto;
  max-width:180px;
  border-radius:25px;
}
.bright,
.dull,
.green{
  padding:25px;
  text-align:center;
  width:100%;
}
.point{
  display:inline-block !important;
  vertical-align:text-top;
}
.point:nth-child(2n){
  width:84%;
  margin-left:5px;
}
.green,
.dull{
  color:#fff;
}
.bright{
  min-height:48vh;
  background-color:#fff;
  text-align:left;
}
.green{
  background-color:#0FBE7C;
}
.dull{
  background-color:#2e3842;
  min-height:400px;
}
.camps{
  width:96%;
  display: block;
  max-width:360px;
  margin:12.5px auto;
}
.mark{
  color:#0FBE7C !important;
}
.wrap{
  padding:30px 40px 50px 40px;
}
.film{
  position:relative;
  perspective:700px;
}
.film a.submit{
  width:200px;
  position: absolute;
  left:50%;
  top:50%;
  margin:0;
  transform:translate(-50%,-50%);
  z-index:2;
  animation: blink 7s 2s ease-in-out;
}
video{
  display: block;
  width:100%;
  margin:0 auto;
}
.volume {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 1.5em;
  cursor: pointer;
  color:#0FBE7C;
  opacity:0;
}

.film:hover .volume{
  animation: fadeIn 0.3s ease-out forwards; 
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.bold{
  font-style:bold;
  display:block;
}
a.product{
  text-decoration:underline;
}
.thumbs{
  width: 180px !important;
  display: block !important;
}
.flex,
.flex-in{
  display:flex;
  flex-flow:row wrap;
  justify-content:space-between;
}
.flex-in{
  justify-content:center;
  align-items:center;
}
.member{
  display:flex;
  flex-direction:column;
  justify-content:center;
}
.child{
  width:100%;
}
.trio li{
  max-height:180px;
  overflow:hidden; 
}
.overlay{
  background:linear-gradient(-45deg,rgba(50,50,75,0.4), rgba(0,0,0,0.6));
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
  color:#fff;
} 
.tickets {
  align-items: center;
  margin:25px auto;
  min-height:300px;
}
.tickets p{
  font-size:120%;
}
.tickets .duo{
  background-color:rgba(0,0,0,0.3);
  padding:25px 10px;
  min-height: 150px;
}
footer{
  padding:50px 25px;
  width:100%;
  position:relative;
  background-color:#2e3842;
  color:#fff;
}
.icons{
  width:100%;
  top:20px;
  right:25px;
  text-align:center;
}
.icons a{
  display:inline-flex;
  justify-content:center;
  align-items:center;
  width:40px;
  height:40px;
  color:#fff;
  font-size:1.2em;
  border-radius:50%;
}
.icons span{
  display:inline-block;
  margin-left:10px;
}
.facebook {
  background-color: #3b5998;
}
.linkedin {
  background-color: #0077b5;
}
.whatsapp {
  background-color: #34af23;
}
.twitter {
  background-color: #4099FF;
}
.instagram{
  background-color: #fb3958;
}
.chat{
  position:fixed;
  right:25px;
  top:12.5px;
  border-radius:50%;
  font-size:1.25em;
  color:#0FBE7C;
  height:36px;
  width:36px;
  cursor:pointer;
}
.donate{
  position:absolute;
  right:75px;
  top:20px;
}
input[type="image"]{
  cursor: pointer;
}
footer p{
  padding:15px 25px;
}
.banner{
  background-color:#0FBE7C;
  color:#fff;
  font-size:1.2em;
  padding:25px;
  width:100%;
  max-width:750px;
  display:block;
  margin:15px auto;
}
.trio{
  text-align:left;
}
.inline{
  display:inline-block;
  text-align:center;
}
.inline:nth-child(2n){
  width:60%;
  text-align:left;
}
.button{
  background-color:#f5f5f5;
  width:250px;
  padding:15px;
  display:block;
  margin:auto;
}
.hold{
  position:relative;
  overflow:visible;
}
.team .member img{
  width:72%;
  max-width:250px;
  border-radius:50%;
  margin:15px auto;
  display:block;
}
.capital{
  text-transform:capitalize;
}
.cart{
  margin: 20px 0;
  height: 100px !important;
}
.tripple{
  order:-1;
}
.cohabit{
  width:49%;
  font-size:1.1em;
}
.tablet{
  display:none;
}
.dull h3{
  color:#fff;
  font-size:150%;
  text-transform:capitalize;
  text-align:center;
}
.fulls{
  display:block;
  width:100%;
  padding:0;
  height:40vh;
  min-height: 420px;
  position:relative;
  background:#f0f0f0;
  background-position:center;
  background-size: cover;
  background-repeat:no-repeat;
}
.fulls .after{
  background:linear-gradient(-45deg, rgba(0,0,0,0.5), rgba(255,255,255,0.25));
  width:100%;
  padding:25px;
  height:40vh;
  min-height:420px;
}
.noisy .wide{
  background-color:rgba(0, 16, 26, 0.75);
}
.noisy .wider{
  background-color:rgba(15,190,124,0.75);
}
.fulls h3{
  position:relative;
  display:inline-block;
  font-size:125%;
  margin:12.5px auto;
  color:#fff;
  text-transform:uppercase;
}
.fulls h3:after,
.fulls h3:before{
  content:'';
  position:absolute;
  left:0;
  right:0;
  width:100%;
  padding:1px;
  background-color:#fff;
  overflow-x:hidden; 
}
.fulls h3:after{
  animation: grow 1s 3s linear alternate infinite;
  top:50px;
}
.fulls h3:before{
  bottom:50px;
  animation: shrink 1s 3s linear alternate infinite;
}
.shows{
  background-image:url({{site.baseurl}}/assets/shows.jpg);
}
.parties {
  background-image:url({{site.baseurl}}/assets/parties.jpg);
}
.workshops {
  background-image:url({{site.baseurl}}/assets/workshops.jpg);
}
.teachers {
  background-image:url({{site.baseurl}}/assets/teachers.jpg);
}
.overview{
  background-image:url({{site.baseurl}}/assets/aboutscience.jpg);
}
.about{
  background-image:url({{site.baseurl}}/assets/about.jpeg}});
}
.products img {
  display:block;
  max-width:300px;
  margin:15px auto;
  cursor:pointer;
}
@keyframes grow{
  0% { width:0; }
  100% { width:100%; }
}
@keyframes shrink{
  0% { width: 100%; }
  100% { width: 0; }
}
@keyframes blink{
  0% { opacity: 0;}
  100%{ opacity: 1;}
}
.narrow{
  order:-1;
}
.noisy{
  background-image:url({{site.baseurl}}/assets/noisy.png) !important;
}
.center{
  text-align: center;
}
.left{
  text-align: left;
}
.links{
  padding:30px;
}
.left.links p {
  background-color: rgba(0,0,0,0.1);
  margin-bottom: 2px;
  padding: 12.5px 15px;
}
/*
==================================================
  Image Gallery
==================================================*/
.image-gallery {
    margin: 0 auto;
    display: block;
  }
  .primary,
  .thumbnails {
    display:block;
    margin:15px auto;
  }
  .thumbnails {
    width: 300px;
  }
  .primary {
    width: 300px;
    height:300px;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .thumbnail:hover .thumbnail-image, .selected .thumbnail-image {
    border: 2px solid #0FBE7C;
  }
  .thumbnail-image {
    width: 90px;
    height: 90px;
    display: inline-block;
    margin: 20px 3PX;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
  }
/*
===================================================================
*/

@media screen and (min-width: 768px){
  .nav-menu a{
    display:inline-block;
    height:initial;
    text-align:left;
  }
  .wide{
    width:55%;
  }
  .narrow{
    width:45%;
    order:initial;
  }
  .duo{
    width:48%;
  }
  .tripple{
    width:60%;
  }
  .trio{
    width:30%;
    order:-1;
  }
  .grade{
    justify-content: space-around;
    align-items: flex-start;
    min-height: 54vh;
  }
  .grade-level {
    width: 28%;
  }
  .child.quad{
    width:25%;
    background-color:rgba(255,255,255,0.09);
    border-radius:25px;
    text-align:center;
  }
  .quad img{
    max-width:125px;
    margin:0 auto;
  }
  .post-content p{
    width:91%;
    font-size:19px;
  }
}
@media screen and (min-width: 769px){
  .tablet{
    display:block;
  }
  .mobile{
    display:none;
  }
}
@media screen and (min-width: 992px){
  .strip{
    width:7%;
    max-width:90px;
  }
  .tripple,
  .trio{
    order:initial;
  }
}
