@font-face {
  font-family: 'fontello';
  src: url('{{ site.baseurl }}/assets/fontello.woff?68463728') format('woff');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0;
}
.icon-close,
.icon-chat,
.icon-opens,
.icon-closes{
  font-size: 1.5em;
  color:#eee;
}
.icon-check,
.icon-menu,
.icon-article,
.icon-star,
.icon-chat{
   color: #0FBE7C;
}
.icon-check:before { content: '\e800'; }
.icon-opens:before { content: '\e801'; }
.icon-close:before { content: '\e802'; }
.icon-chat:before { content: '\e803'; }
.icon-scroll:before { content: '\e804'; }
.icon-closes:before { content: '\e805'; }
.icon-star:before { content: '\e806'; }
.icon-menu:before { 
  content: '\e807'; 
  font-size: 1.8em;
  margin-top:2.5px;
}
.icon-article :before { content: '\e823'; }
.icon-whatsapp:before { content: '\f232'; }
.icon-twitter:before { content: '\f309'; }
.icon-facebook:before { content: '\f30c'; }
.icon-linkedin:before { content: '\f318'; }
.icon-instagram:before { content: '\f32d'; }
